.head{
    height: '50vh';
    display: 'flex';
}

.Lorem {
    display: 'flex';
    flex: 1;
    align-items: 'center';
    justify-content: 'center';
    width: '50%';
}

.Lorem-text{
    font-size: '5.25rem';
    font-weight: 'bold';
    color: '#fff';
}

.slide{
    display: 'flex';
    flex: 1;
    width: '50%';
    align-items: 'center';
    justify-content: 'center';
}

.paraStyle{
    margin: '10.625rem';
    color: '#fff';
}



